@import '../variables';

.drivers {
  background-color: #f2f1f2;
  
  .contact-list {
    min-height: 100vh;
    display: flex;  
    align-items: center;
    justify-content: center;
    
    .drivers-container {      
      display: grid;  
      grid-gap: 10px 10px;
      grid-template-columns: repeat(4, auto);  
    }

    @media (max-width: $tablet-max-size) {
      .drivers-container {      
        grid-template-columns: repeat(3, auto);  
      }
    }

    @media (max-width: $mobile-max-size) {  
      .drivers-container {      
        grid-template-columns: repeat(1, auto);  
      }
    }  
  }  
}